@tailwind base;
@tailwind components;
@tailwind utilities;

.white-color {
    color: white;
}
.dark-color {
    color: #434343;
}
.custom-font {
    font-family: 'Helvetica Neue';

}
.title-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .7px;
}
.navbar {
    margin-top: .8rem;
    background-color: rgba(0, 0, 0, 0.096);
    width: 100vw;
    min-height: 8vh;
    padding: .8rem;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.nabvar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}
#logo {
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .8px;
 
  
}
.main-section-desc {
    font-weight: 200;
    letter-spacing: .5px;
    font-size: .8rem;
    line-height: 1.5rem;
  text-transform: uppercase;
}

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
 
}
.video-main {
    position: absolute;
    transform: scale(1.3);
}
.braclet-video-cont {
    width: 15rem;
    aspect-ratio: 1/1.4;
    overflow: hidden;
    border-radius: 1rem;
   
}


/* Main Caroosel */
.carousel-section {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9rem;
    min-height: 100vh;
   
   


 

    
}
.main-carousel {
    cursor: grab;
    overflow: hidden;

}
.main-inner-carousel {
    display: flex;
    align-items: flex-start;
    
   
}
.main-item {
    
  

    padding: .2rem;
    

    /* min-height: 20%;
    min-width: 29%;
    padding: 10px; */

}

.main-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

    pointer-events: none;

}
/* Main Caroosel  Ends*/

.third-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fourh-grid {
    display: grid;
    grid-template-columns: 4fr 6fr ;
    width: 100vw;
    gap: 3rem;


}
.fourh-grid > * img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fourth-img-cont-1, .fourth-img-cont-2 {
    height: 35rem;
}
@media(max-width: 45em){
    .image-main-container {
        display: none;
    }
   
    .carousel-section {
  
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    overflow: hidden;


}

    .main-carousel {
    cursor: grab;
    transform: scale(1.1);
    overflow: hidden;
    margin-left: 7vw;

    

  


}
    .main-inner-carousel {
    display: flex;
    width: 82vw;
}
    .main-img-cont {
     width: 12rem;
   
   
}
      .main-img-cont {
    width: 12rem;
   
   
     }
     .third-section {
        flex-direction: column;
     }
     .third-img-cont {
        width: 100%;
        height: 23rem;
        
    }
    .fourh-grid {
       
        gap: .8rem;
    
    
    }
    .fourth-img-cont-1, .fourth-img-cont-2 {
        height: 14rem;
    }
  
  

}

@media(min-width: 45em){
    .image-main-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;

    }
    .image-main-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .video-container {
        display: none;
    }
    .carousel-section {
  
   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        overflow: hidden;
    
    
    }
    
    .main-carousel {
        cursor: grab;
        transform: scale(1.1);
        overflow: hidden;
        margin-left: 30vw;
    
        
    
      
    
    
    }
    .main-inner-carousel {
        display: flex;
         width: 60vw;
    }
    .main-img-cont {
        width: 20rem;
       
       

    }
    .third-section {
       align-items: flex-end;
    }

    .third-img-cont {
        width: 50%;
        aspect-ratio: 1 /1 ;
    }
    .third-title {
        margin-bottom: 6rem;

    }
    .fourth-padding {
        padding-block: 15rem;
    }
}