@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    user-select: none;
}
.abs-z {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

    pointer-events: none;
}

.color-active {
    border: 2px solid #434343a6;
   transition: .3s ease;
}
.white-color {
    color: white;
}

.dark-color {
    color: #434343;
}
.custom-font {
    font-family: 'Helvetica Neue';

}
.title-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .7px;
    cursor: pointer;
}
.navbar {
    margin-top: .8rem;
    background-color: rgba(0, 0, 0, 0.096);
    width: 100vw;
    min-height: 8vh;
    padding: .8rem;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    z-index: 100;
    position: fixed;
 
    top: 0;
    left: 0;
}
.navbar-dark {
    width: 100vw;
    margin-top: .8rem;
    background-color: white;
    min-height: 8vh;
    padding: .8rem;
    border-top: 1px solid  #434343;
    border-bottom: 1px solid  #434343;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

}
.navbar-mobile  {
    width: 100vw;
    margin-top: .8rem;
    background-color: rgba(255, 255, 255, 0);
    min-height: 8vh;
    padding: .8rem;
  
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

}
.nabvar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    
}

/*Side Menu*/
.sidemenu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: -1rem;
    background-color: white;
  

}
.menu-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 30% 15%;
}
.menu-cont  > *{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 280;

}
/*Side Menu Ends*/
/*Shopping Cart Mini Starts*/

.sc-header {
    border-bottom: 1px solid rgba(37, 37, 37, 0.267);
}
.sc-header {
    text-transform: uppercase;
    font-weight: 280;
    letter-spacing: .3px;
   
}
.mini-prducts-cont {
    width: 100%;

    height: 55vh;
    overflow: scroll;
}
.mini-product-cont {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
}
.mini-product-img {
    width:100%;
    aspect-ratio: 1/1.5;
}
.mini-product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mini-product-desc  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.close-mini {
    justify-self: flex-end;
}
.desc-header{
  
    display: grid;
    
    grid-template-columns: 3fr 1fr;
}
.mini-desc-title {
    text-transform: uppercase;
    letter-spacing: .3px;
    font-size: 1rem;
    font-weight: 280;
    line-height: 1.5rem;
}
.size-color-mini {
    color: grey;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 200;
}
.qty-mini, .price-mini {
    font-size: .9rem;
    letter-spacing: .2px;
    font-weight: 280;
}
.total-mini {
    border-top: 1px solid rgba(37, 37, 37, 0.267);

}
.subtotal-mini {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.subtotal-mini p {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 280;
    letter-spacing: .7px;
}
.checkout-btn{
    padding: .6em 2em;
    border: 1px solid black;
    margin-inline: 1rem;
    margin-top: .8rem;
    font-size: .8rem;
    text-transform: uppercase;

}
/* Shopping Cart Mini Ends*/

#logo {
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .8px;
 
  
}
.main-section-desc {
    font-weight: 200;
    letter-spacing: .5px;
    font-size: .8rem;
    line-height: 1.5rem;
  text-transform: uppercase;
}

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
 
}
.i-main-cont {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;

}
.i-main-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.video-main {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.braclet-video-cont {
    width: 15rem;
    aspect-ratio: 1/1.4;
    overflow: hidden;
    border-radius: 1rem;
   
}


/* Main Caroosel */
.carousel-section {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9rem;
    min-height: 100vh;
   
   


 

    
}
.main-carousel {
    cursor: grab;
    overflow: hidden;

}
.main-inner-carousel {
    display: flex;
    align-items: flex-start;
    
   
}
.main-item {
    
  

    padding: .2rem;
    

    /* min-height: 20%;
    min-width: 29%;
    padding: 10px; */

}

.main-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

    pointer-events: none;

}
/* Main Caroosel  Ends*/

.third-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fourh-grid {
    display: grid;
    grid-template-columns: 4fr 6fr ;
    width: 100vw;
    gap: 3rem;


}
.fourh-grid > * img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fourth-img-cont-1, .fourth-img-cont-2 {
    height: 35rem;
}



/*Products*/
.products-section {
    display: grid;
    gap: 1rem;
}
.product-icon-img {
    aspect-ratio: 1/1.5;
    cursor: pointer;
}
.product-icon-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.product-icon-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
/*Products Ends*/

/* Single Product Page*/
.single-prod-flex {
    width: 80vw;
    margin: auto;

}
.single-product-desc {
    background-color: rgb(255, 255, 255);
    width: 30rem;
  
   
  
}
.single-desc {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
 

    color: #434343;
}
.desc-title {
    font-size: 1.8rem;
    font-weight: 240;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height:3rem;
}
.desc-price {
    font-size: 1rem;
    font-weight: 290;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height:1.6rem;

}
.desc-main {
    font-size: .8rem;
    font-weight: 430;
    
    letter-spacing: -.2px;
    line-height:1.2rem;

}
.color-size-title {
    font-size: .6rem;
  text-transform: uppercase;
    letter-spacing: .1px;
    font-weight: 200;

}
.size-icon {
    padding: 18px 13px;
    font-size: .8rem;
    display: grid;
    place-content: center;
    aspect-ratio: 1/1.5;
    cursor:pointer;
    background-color: rgba(128, 128, 128, 0.315);
}

.size-active {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
}
.size-icon:hover {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    transition: .4s ease;

}

.color-icon {
    cursor:pointer;
    border-radius: 1rem;
}
.desc-buttons{
    display: inline-block;
    
 

}
.add-to-cart-btn {

    border: 1px solid #434343;
    padding: .8em 6em;
    text-transform: uppercase;
    font-size: .8rem;
    margin-right: .8rem;
    margin-bottom: 1rem;
}
.buy-now-btn {
    border: 1px solid #434343;
    padding: .8em 4em;
    text-transform: uppercase;
    font-size: .8rem;
    margin-right: 1rem;

}
.product-additional {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.additional {
    border-bottom: 1px solid #434343; 
    width: 30vw;
    padding-bottom: 1rem;
}
.add-title {
    text-transform: uppercase;
    padding-bottom: .3rem;
    cursor: pointer;
    
}
.add-desc {
    font-size: .8rem;
}
/*Single Product Ends*/


@media(max-width: 45em){
    .image-main-container {
        display: none;
    }
   
    .carousel-section {
  
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    overflow: hidden;


}

    .main-carousel {
    cursor: grab;
    transform: scale(1.3);
    overflow: hidden;
    margin-left: 7vw;

    

  


}
    .main-inner-carousel {
    display: flex;
    width: 80vw;
}
    .main-img-cont {
     width: 13rem;
   
   
}
      .main-img-cont {
    width: 12rem;
   
   
     }
     .third-section {
        flex-direction: column;
     }
     .third-img-cont {
        width: 100%;
        height: 23rem;
        
    }
    .fourh-grid {
       
        gap: .8rem;
    
    
    }
    .fourth-img-cont-1, .fourth-img-cont-2 {
        height: 14rem;
    }

    .navigation-text {
        font-size: .8rem;
        font-weight: 220;
        letter-spacing: .1px;
    }

    /* Products Icons*/
    .products-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .products-area {
       padding-block: 2.5rem;
    }
    .product-icon-desc {
        padding-top: .5rem;
        margin-left: .5rem;

        
    }
    .product-icon-cont {
        margin-bottom: 1.2rem;
    }
    .product-icon-title {
        font-size: .67rem;
        letter-spacing: .5px;
        font-weight: 350;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    .product-icon-price {
        font-size: .69rem;
        letter-spacing: .1px;
        font-weight: 280;
        margin-top: -1px;
    }
    /*  Products Icon Ends*/
  
     /*Single Product Desc */
     .single-prod-flex {
        width: 100vw;
        margin: auto;
       
    }
     .single-product-desc {
         width: 98vw;
         padding-inline: 1rem;
         margin: auto;
         padding-top: 0;
        
    
     }
     .single-product-carousel {
         display: none;
     }
     .single-desc {
        padding-top: 0%;
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
     
    
        color: #434343;
    }
    .desc-header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 100%;
        align-items: center;
       
    }
    .desc-title {
        font-size: .9rem;
        font-weight: 280;
        text-transform: uppercase;
        letter-spacing: .5px;
        line-height:3rem;
     
      text-align: start;
    }
    .desc-price {
        font-size: .8rem;
        font-weight: 290;
        text-transform: uppercase;
        letter-spacing: .5px;
        line-height:1.6rem;
        
        text-align: end;
        
    
    }
    .add-to-cart-btn {

        border: 1px solid #434343;
        padding: 1em 8em;
        text-transform: uppercase;
        font-size: .7rem;
        margin-right: .4rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .buy-now-btn {
        border: 1px solid #434343;
        padding: 1em 3em;
        text-transform: uppercase;
        font-size: .7rem;
        margin-right: 1rem;
    
    }
    .product-additional {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    
    }
    .desc-main {
        font-size: .72rem;
        font-weight: 290;
        letter-spacing: .1px;
    }
    .additional {
        border-bottom: 1px solid #43434360; 
        width: 90vw;
        padding-bottom: 1rem;
    }
    .add-title {
        text-transform: uppercase;
        padding-bottom: .3rem;
        cursor: pointer;
        font-size: .8rem;
        
    }
    .add-desc {
        font-size: .8rem;
    }
     /* Single Product Desc Ends */

     /* Mobile Single Product Caroosel*/
     .mobile-single-carousel{
         width: 100vw;
       
         min-height: 80vh;
       
       
     }
     .mobile-images-slider {
         overflow: hidden;
     }
     .mobile-single-img {
        
         width: 100vw;
         margin: auto;
   
         height: 80vh;
     
        
  
         clip-path: inset(10px  round 15px 15px 0 0);        
        
       
     }
   
     .mobile-single-img-cont {
         width:100%;
         height: 80vh;
        aspect-ratio: 1/1.5;
       
     }
     .mobile-single-img-cont img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: 2;
        
     }
    .dot{
        position: absolute;
      
      
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
       gap: .6rem;
    }
    .dot-child {
        width: 8px;
        height: 8px;
        border-radius:50% ;
        background-color: rgba(0, 0, 0, 0.37);
        transition: .3s ease;
        cursor: pointer;
       
        


    }
    .active {
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.445);
        transition: .3s ease;

    }
    .single-product-desc {
        position: absolute;
        top: 80vh;
       
       
        
      
    }
.mobile-single-carousel {
   
    position: fixed;
 
   
}
     /* Mobile Product Caroosel Ends*/

}

@media(min-width: 45em){
    .desktop-form {
        flex-direction: row ;
        align-items: flex-start;
        justify-content: center;
        gap: 18rem;
    }
    .i-main-cont {
        display: none;

    }
    .navbar {
       
        padding: 1.2rem;
     
    }
    .navbar-dark {
       
        padding: 1.2rem;
       
    
    }
    .nabvar-content {
        padding-inline: 2rem;
        
    }
    .desktop-toggle {
        display: none;
    }
    .mobile-single-carousel {
        display: none;
    }
    .image-main-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: grid;
        place-content: center;
        background-color: #05e8ba;
        background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
        
        
    

    }

    .video-main-desktop {
        max-width: 25rem;
       
        aspect-ratio: 1/1.4;
    }
    .vd-desk {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 20rem;
        border-top-left-radius: 20rem;
    }
    .image-main-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .video-container {
        display: none;
    }
    .carousel-section {
  
   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        overflow: hidden;
    
    
    }
    
    .main-carousel {
        cursor: grab;
        transform: scale(1.1);
        overflow: hidden;
        margin-left: 30vw;
    
        
    
      
    
    
    }
    .main-inner-carousel {
        display: flex;
         width: 60vw;
    }
    .main-img-cont {
        width: 20rem;
       
       

    }
    .third-section {
       align-items: flex-end;
    }

    .third-img-cont {
        width: 50%;
        aspect-ratio: 1 /1 ;
    }
    .third-title {
        margin-bottom: 6rem;

    }
    .fourth-padding {
        padding-block: 15rem;
    }

    .navigation-text {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: .1px;
    
    }

    /* Products Icon Section*/
    .product-icon-cont {
        margin-bottom: 1.2rem;
    }
    .products-area {
        width: 70vw;
        margin: auto;
        padding-block: 4rem;
    }
    .products-section {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem
    }
    .product-icon-desc {
        padding-top: 1rem;

        
    }
    .product-icon-title {
        font-size: .85rem;
        letter-spacing: .5px;
        font-weight: 350;
        text-transform: uppercase;
       
    }
    .product-icon-price {
        font-size: .8rem;
        letter-spacing: .1px;
        font-weight: 280;
        margin-top: -1px;
    }
    
    /* Products Icon Section Ends*/

    /* Caroosel Single Product*/
    .single-prod-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex-carousel {
        display: flex;
        
        align-items: flex-start;
        gap: 1rem;
    }
    .carousel-main-img {
        width: 27rem;
       aspect-ratio: 1/1.4;
       overflow: hidden;

    }
    .carousel-icon-img {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      
    }
     .icon-image {
         width: 4rem;
         aspect-ratio: 1/1.5;
         overflow: hidden;

    }
     .icon-image img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }

    /* Caroosel Single Product Ends*/
    .single-desc {
        padding-top: 30%;
       
    }
.shoppingCart-mini {
    width: 35vw;

}
  .desc-header {
      display: flex;
      flex-direction: column;
  }
  
}

.active-nav {
    color: #434343;
    transition: .4s ease;
 }
 .gsap-text {
     padding: 0rem .4rem;
     text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
     display: block;
 }

 .checkout-items-cont {
     max-width: 18rem;
     border-top: 1px solid rgb(211, 210, 210) ;
     border-bottom: 1px solid rgb(211, 210, 210);
     min-height: 10rem;
     max-height: 15rem;
     overflow: scroll;
     margin-bottom: 5rem;

 }
 .input-style {
     border: 1px solid rgb(211, 210, 210);
     padding: .4em .9em;

  
     color: #434343;
     font-size: 1rem;
     letter-spacing: .4px;
     outline: none;
     border-radius: none;

 }
 .label-style {
     text-transform: uppercase;
     font-size: .5rem;
     letter-spacing: .2px;
     color: #434343;
     


 }
 .form {
     display: grid;
    
     grid-template-columns: 1fr;
     gap: 1rem;
 }
.checkout-btn-next {
    width: 100%;
    border: 1px solid #434343c9;
    padding: .7em;
    font-size: .9rem;
    font-weight: 250;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin-top: 1rem;
}
.address-title {
    font-weight: 300;
    letter-spacing: .3px;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.3rem;

}

/* .check-total {
    padding-block: 1rem;
    position: absolute;
   background-color: white;
   
} */

.social-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
   letter-spacing: .3px;
   font-weight: 300;
   line-height: 1.5rem;
   font-size: .9rem;
   width: 90%;
   margin: auto;
}
.social-section p {
     font-size: .8rem;
     width: 70%;
     
}

.link-tele {
    color: rgb(119, 167, 238);
}

.ship-cont {
   
    padding: 1rem;
    
}
.ship-info-cont {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    gap: 2rem;
}
.ship-cont h1 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 250;
    letter-spacing: .7px;
    margin-bottom: .5rem;

}
.ship-cont p {
    font-size: .8rem;
    font-size: 280;
}